
body {
    padding-top: 3.5rem;
  }
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Suppotrting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px){
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    .jumbotron {
        border-bottom: 0;
    }
}